@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');


body {
  font-family: 'Source Sans Pro', sans-serif !important;
  background: rgb(230,244,245);
  background: -moz-linear-gradient(0deg, rgba(230,244,245,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(230,244,245,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(0deg, rgba(230,244,245,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6f4f5",endColorstr="#ffffff",GradientType=1);
  min-height: 100vh;
}


/* ------------------ General settings ------------------- */

/* remove text decorations from links */
:hover{
  font-style: none;
}
a {
  color: black;
  text-decoration: none !important; /* no underline */
  outline: none; 
}


@media (min-width: 1450px) {
  .container {
    max-width: 1400px !important;
  }
}

p {
  margin-bottom: 0.5rem;
}


/* Font details */

  .title {
    font-weight: 800;
    font-size: 40px
  }

  
  .subtitle {
    font-weight: 600;
    font-size: 30px;
  }
  

  .description {
    font-weight: 500;
    font-size: 17px;
  }

  .techContainer > * {
    font-size:14x ;
    font-weight:600;
  }
  .CARDTitle {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 17px;
  }
  .CARDSubTitle {
    font-weight: 600;
    font-size: 17px;
  }
  .CARDText {
    font-weight: 500;
    font-size: 18px
  }

  .CARDText > *{
    font-weight: 500;
    font-size: 18px
  }

  @media screen and (min-width:776px){
    .title {
      font-weight: 800;
      font-size: 50px
    }

    .subtitle {
      font-weight: 600;
      font-size: 30px;
    }

    .description {
      font-weight: 500 ;
      font-size: 22px ;
    }
    .techContainer > * {
      font-size:14x ;
      font-weight:600;
    }
    .CARDTitle {
      font-weight: 800;
      text-transform: capitalize;
      font-size: 17px;
    }
    .CARDSubTitle {
      font-weight: 600;
      font-size: 17px;
    }
    .CARDText {
      font-weight: 500;
      font-size: 16px;
    }

    .CARDText > *{
      font-weight: 500;
      font-size: 16px;
    }

  }

/* ------------------ NavBar ------------------- */
.navBar {
  font-weight: 600;
  padding: 2vh 0vw 2vh 3vw !important;
  }
  .mobileNav{
    display: none !important;
  }
  .menuNav{
    width:35px;
  }

  .dropDownNav{
    padding: 3vh 10vw 3vh 0vh;
  }
  .dropDownNav > *{
    padding: 3vh 10vw 3vh 0vh;
  }

  @media screen and (max-width:776px){
    .mobileNav{
      display:block !important;
    }
    .desktopNav {
      display:none !important;
    }
  }

  .borderNAVLangBTN {
    border: 2px solid !important;
  }

  .selectedLan {
    color: white;
    background-color: black;
    border-color: black !important;
  }


  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  /* hover options on NavBar */

    .hovered::after {
      color:white;
      background-image: url(https://eugeniadurante.com/assets/img/link-underline.png);
      background-size: 45px 15px;
      background-repeat: no-repeat;
      content:"⠀";
      transform: translate(10px, 0px);
      position: absolute;
      right: 0;
      left: 0;
      /* animation */
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 0.2s;
    }

 
  @-moz-document url-prefix(){
    .hovered::after {
          transform: translate(10px, 20px);
        }
    }
    .center::after {
      background-position: left;
      transform: translate(11px, 20px);
      background-size: 65px 15px;

    }
    .hardCodeCV::AFTER {
      transform: translate(8px, 20px) !important;
      background-size: 35px 15px;
    }

    .hardCodeHOME::AFTER {
      transform: translate(13px, 20px) !important;
      background-size: 45px 15px;
    }


    /* lang bar */
.langBAR {
  position: absolute;
  right: 15px;
  top: 20px;
}
    
/*-------------------- Home ------------------*/

.techWrapper {
  width: 70vw;
  border: 7px solid transparent;
  padding: 15px;
  border-image: url('assets/border.fw.png') 20% stretch;
  margin:5vh 5vw;
  position: relative;
}

.techWrapperWrapper {
  justify-content: center;
}

.techTitle {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -12%;
  font-size: 34px;
}

@media (min-width: 768px) {
  .techWrapper{
    width:40vw;
  }
  .techWrapperWrapper{
    padding-top: 15vh ;
  }
  .techContainer * {
    padding: 7px !important;
  }
}

.techLogo {
  width:50px;
  height: 50px;
}

.techContainer  * {
  color: rgb(65, 60, 60) !important;
}

    
/*-------- Home --------*/

.blackButton {
  color: white;
  background-color: rgb(66, 66, 66);
  min-width: 38px;
}

.cardContainer{
  justify-content: center
}